h1 {text-align: center; color: white;}
					
h2 {text-align: center; color: white;}

p {text-align: center; color: white;}

label {color: white;}

legend {text-align: center; color: white;}

buttonholder {text-align: center;}

pleft {text-align: left; color: white;}

div {text-align: center; color: white;}

body {
	background-color: #282828;
	color: white;
}